@page "/tarefa/{id}"
@inject ControleTarefas.Data.ITarefaService TarefaService
@inject NavigationManager Navigation



<h1>Editar Tarefa</h1>
<br />

<EditForm Model="tarefa" OnSubmit="@SubmitForm">
    <div class="form-group">
        <label>Título</label>
        <InputText id="id" class="form-control" name="ds_Titulo" @bind="tarefa.ds_Titulo"> </InputText>      
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <InputText id="id" class="form-control" name="ds_Descricao" @bind="tarefa.ds_Descricao"> </InputText>      
    </div>
    <div class="form-group">
        <label>Data Tarefa</label>
        <InputText id="id" class="form-control" name="dt_Tarefa" @bind="tarefa.dt_Tarefa"> </InputText>      
    </div>
    <div class="form-group">
        <label>Hora Início</label>
        <InputText id="id" class="form-control" name="hr_Inicio" @bind="tarefa.hr_Inicio"> </InputText>      
    </div>
    <div class="form-group">
        <label>Hora Fim</label>
        <InputText id="id" class="form-control" name="hr_Fim" @bind="tarefa.hr_Fim"> </InputText>      
    </div>
        <div class="form-group">
        <label>Prioridade</label>
        <InputText id="id" class="form-control" name="cd_Prioridade" @bind="tarefa.cd_Prioridade"> </InputText>      
    </div>
        <div class="form-group">
        <label>Finalizada ?</label>
        <InputText id="id" class="form-control" name="tp_Finalizada" @bind="tarefa.tp_Finalizada"> </InputText>      
    </div>
    <br /><button type="submit" class="btn btn-success">Gravar</button>
</EditForm>



@code {
    [Parameter]
    public int id { get; set; }

    private ControleTarefas.Data.Tarefa tarefa { get; set; }


    protected override void OnInitialized()
    {
        if (id == 0)
        {
            tarefa = new Data.Tarefa();
            tarefa.Id_Tarefa = 0;
        }
        else
        {
            tarefa = TarefaService.GetTarefa(id);
        }
    }


    private void SubmitForm()
    {
        if(tarefa.Id_Tarefa == 0)
        {
            TarefaService.AddTarefa(tarefa);
        }
        else
        {
            TarefaService.UpdateTarefa(tarefa);
        }
        Navigation.NavigateTo("tarefas");
    }

}
